*{
	box-sizing: border-box;
}
body{
	width: 100%;
	height: auto;
	margin: 0;
	background: #16191c;
	
}
header{
	margin-left: 0%;
	padding: 0%;
	width: 100%;
	display: block;
	font-family: "Michroma", sans-serif; 
	position: fixed;
	top: 0%;
	background-color: white;
}
.openbtn{
	display: none;
}
.barra1{
	display: none;
}
header div{
	float: left;
	margin-top: 3%;
	padding-left: 2%;
	width: 88%;
	color: black;
	font-size: 4em;
	transition: 0.5s;
}

img{
	width: 10%;
	height: auto;
	float: left;
	transition: 0.5s;
	margin-left: 2%;
}
nav{
	width: 100%;
	color: white;
	font-size: 1.5em;
	float: left;
	background-color: black;
}
nav a{
	margin-left: 3%;
	font-family: "Roboto", sans-serif;
	padding: 2%;
	display: inline;
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	color: #3677e0;
}
i{
	padding: 1%;
}
ul{
  padding-left: 1%;
	font-family: "Roboto", sans-serif;
	font-size: 1.3em;
}
#resumen{
	margin-top: 10%;
	display: block;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clear: both;
	padding-bottom: 15%;
	padding-top: 10%;
}
#acerca{
  padding-top: 5%;
	color: white;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#acerca h1{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
#acerca p{
	padding-left: 1%;
	font-family: "Roboto", sans-serif;
	font-size: 1.25em;
}
.titulo{
	padding-top: 10%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	text-align: center;
	color: white;
	font-size: 4em;
	font-weight: bold;
}
#fig1{
  width: 35%;
  height: auto;
}
.caption{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	color: white;
}
#fondoexp{
	background-image: url("Experiencia1.webp");
	display: block;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clear: both;
}
#form{
	display: block;
	overflow: hidden;
	background-image: url("Formación1.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clear: both;
	
}

#res{
  font-size: 15em;
  text-align: center;
  color: white;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 10%;
  transition: 0.5s;
}
#res:hover{
  color: #3677e0;
}
.exp h2{
	font-family: "Roboto", sans-serif !important;
	text-align: left;
	padding-left: 1%;
	width: 90%;
	color: white;
	
}
.exp h3{
	font-family: "Roboto", sans-serif !important;
	padding-left: 1%;
	width: 90%;
	color: white;
	margin-bottom: 5%;
}
.imagen{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5%;
	float: right;
	width: 10%;
}
.contraste{
	background-color: #2f3942;
	z-index: -1;
	width: 100%;
	padding-bottom: 15%;
	padding-top: 10%;
}	
#exp0{
  margin-top: 2%;
  margin-bottom: 10%;
	background-image: url("fig1.jpg");
	padding: 25%;
}
#exp1{
	  margin-top: 2%;
  margin-bottom: 10%;
	background-image: url("fig2.png");
	padding: 25%;
}
#exp2{
		  margin-top: 2%;
  margin-bottom: 10%;
	background-image: url("fig3.png");
	padding: 25%;
}
#exp3{
		  margin-top: 2%;
  margin-bottom: 10%;
	background-image: url("fig4.png");
	padding: 25%;
}

#exp4{
		  margin-top: 2%;
  margin-bottom: 10%;
	background-image: url("fig5.png");
	padding: 25%;
}
.imagenes{
	width: 25%;
	float: left;
}
.imagenes img{
	width: 100%;
}
.texto{
	text-align: center;
	font-family: "Roboto", sans-serif !important;
}

#img1{
	margin-left: 37.6%;
	clear: both;
}
#titulo1{
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: "Roboto", sans-serif !important;
	font-size: 2.5em;
	text-align: center;
}	
.exp{
	display: block;
	overflow: hidden;
	height: 30%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clear: both;
	margin-top: 0%;
}

.exp p{
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
	padding: 0.5%;
	color: white;
	width: 50%;
}
#lic{
	margin-left: 6.6%;
	float: left;
	width: 40%;
	background-color: #7fb5f0;
	cursor: pointer;
	transition: 0.5s;
	text-align: center;
	border-radius: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
}
#lic:hover{
	background-color: #029DDB;
}
#lic h2{
	text-align: center;
	font-family: "Roboto", sans-serif;
}
#licenciatura{
	margin-top: 15%;
	width: 46%;
	margin-left: 2%;
	margin-bottom: 2%;
}
#analitico{
	width: 46%;
	margin-left: 2%;
	margin-bottom: 2%;
}
#doc:hover{
	background-color: #029DDB;
}

#cont1{
	display: block;
	overflow: hidden;
	transition: 0.5s;
	font-family: "Roboto", sans-serif;
	max-height: 0;
}

#doc{
	margin-right: 6.6%;
	float: right;
	width: 40%;
	background-color: #7fb5f0;
	cursor: pointer;
	transition: 0.5s;
	text-align: center;
	border-radius: 20px;
	margin-top: 10%;
	margin-bottom: 10%;
}
#doc h2{
	text-align: center;
	font-family: "Roboto", sans-serif;
}
#cont2{
	display: block;
	font-family: "Roboto", sans-serif;
	max-height: auto;
}




#idiomas{
	clear: both;
	padding-top: 10%;
	width: 100%;
}
#ingles{
  float: left;
  color: white;
  margin-left: 10%;
  margin-bottom: 10%;
}
#german{
  float: left;
  color: white;
  margin-left: 10%;
  margin-bottom: 10%;
}
#spanish{
  float: left;
  color: white;
  margin-left: 10%;
  margin-bottom: 10%;
}
.lengua{
	font-size: 1.5em;
	float: left;
	width: 40%;
	margin-left: 5%;
	font-family: "Roboto", sans-serif;
	margin-top: 10%;
	text-align: center;
	margin-bottom: 5%;
}	
.lengua h2{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
.info{
	font-size: 1.5em;
	float: left;
	width: 40%;
	margin-left: 10%;
	font-family: "Roboto", sans-serif;
	margin-top: 10%;
	text-align: center;
}
.info h2{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
#info1{
	font-size: 1.5em;
	float: left;
	width: 40%;
	margin-left: 10%;
	font-family: "Roboto", sans-serif;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
}
#info1 ul{
	text-align: center;
}
#info1 h2{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
#contacto{
	padding-top: 10%;
}
#conta{
	background-color: #a8a7a5;
	width: 100%;
	float: left;
}
#conta h1{
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-bottom: 2%;
}
.mapotuer{
	text-align: right;
	height: auto;
	width: 100%;
}
.gmap_canvas{
	height: auto;
	width: 100%;
	overflow:hidden;
	background:none!important;

}
iframe{
	margin-top: 5%;
	float: left;
	height: auto;
	width: 100%;
	z-index: -1;
	border: none;
}
form{
	margin-left: 65%;
	font-family: "Roboto", sans-serif;
}
form h3{
	font-family:  "Roboto", sans-serif;
}	
input{
	padding: 1%;
	margin-top: 2%!important;
	margin-bottom: 2%!important;
	width: 70%;
}
textarea{
	margin-top: 2%!important;
	width: 70%;
	margin-bottom: 2%!important;
}
#datos{
	width: 50%;
	float: left;
}
#datos ul{
	list-style: none;
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
}
#datos ul li{
	padding: 2%;
}
#enviar{
	text-decoration: none;
	border: none;
	background-color: #3677e0;
	transition: 0.5s;
	cursor: pointer;
}
#enviar:hover{
	background-color: #77b9c9;
}
#pie{
	clear: left;
	margin-top: 40%;
	padding: 2%;
	background-color: #181818;
	color: white;
}
#pie h3{
	font-family: "Roboto", sans-serif;
}
#pie h4{
	font-family: "Roboto", sans-serif;
}
#pie p{
	text-align: center;
	font-family: "Roboto", sans-serif;
}
footer i{
	float: right;
	color: white;
	transition: 0.5s;
	cursor: pointer;
	font-size: 4em;
}
footer i:hover{
	color: #3677e0;
}
