*{
	box-sizing: border-box;
}

body{
	width: 100%;
	height: auto;
	margin: 0;
	background: #16191c;
}
header{
	margin-left: 0%;
	padding: 0%;
	width: 100%;
	display: block;
	font-family: "Gugi", sans-serif; 
	position: fixed;
	top: 0%;
	background-color: white;
	z-index: 30;
}
#menu{
	display: none;
}
.openbtn{
	display: none;
}
.barra1{
	display: none;
}
header div{
	float: left;
	margin-top: 3%;
	padding-left: 2%;
	width: 88%;
	color: black;
	font-size: 4em;
	transition: 0.5s;
}
img{
	width: 10%;
	height: auto;
	float: left;
	transition: 0.5s;
	margin-left: 2%;
}
nav{
	width: 100%;
	color: white;
	font-size: 1.5em;
	float: left;
	background-color: black;
}
nav a{
	margin-left: 0.3%;
	font-family: "Roboto", sans-serif;
	padding: 2%;
	display: inline;
	text-decoration: none;
	transition: 0.5s;
}
a:hover{
	color: #3677e0;
}
i{
	padding: 1%;
}
#resumen{
	margin-top: 10%;
	display: block;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clear: both;
		padding-bottom: 15%;
	padding-top: 10%;
}
#acerca{
  padding-top: 5%;
	color: white;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#acerca h1{
	font-family: "Roboto", sans-serif;
	text-align: center;
}
#acerca p{
	padding-left: 1%;
	font-family: "Roboto", sans-serif;
	font-size: 1.25em;
}
ul{
  padding-left: 1%;
	font-family: "Roboto", sans-serif;
	font-size: 1.3em;
}
.titulo{
	padding-top: 10%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	text-align: center;
	color: white;
	font-size: 4em;
	font-weight: bold;
}
.caption{
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 2em;
	color: white;
}
.fig-port{
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
display: block;
float: left;

}

.exp1{
width: 100%;
transition: 0.5s;
opacity: 0.5;
}

.exp1:hover{
  opacity: 1;
  z-index: 2;
}

#form{
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#res{
  font-size: 15em;
  text-align: center;
  color: white;
  margin-left: 45%;
  margin-top: 5%;
  margin-bottom: 10%;
  transition: 0.5s;
}
#res:hover{
  color: #3677e0;
}

.imagen{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5%;
	float: right;
	width: 10%;
}



#cont2{
	display: block;
	font-family: "Roboto", sans-serif;
	max-height: auto;
}
#idiomas{
	clear: both;
	padding-top: 10%;
	width: 100%;
}
#ingles{
  float: left;
  color: white;
  margin-left: 15%;
  margin-bottom: 10%;
}
#german{
  float: left;
  color: white;
  margin-left: 15%;
  margin-bottom: 10%;
}
#spanish{
  float: left;
  color: white;
  margin-left: 37%;
  margin-bottom: 10%;
}

#contacto{
	padding-top: 10%;
}
#conta{
	background-color: #a8a7a5;
	width: 100%;
	float: left;
}
#conta h1{
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-bottom: 2%;
}
.mapotuer{
	text-align: right;
	height: auto;
	width: 100%;
}
.gmap_canvas{
	height: auto;
	width: 100%;
	overflow:hidden;
	background:none!important;

}
iframe{
	margin-top: 5%;
	float: left;
	height: auto;
	width: 100%;
	z-index: -1;
	border: none;
}
form{
	margin-left: 65%;
	font-family: "Roboto", sans-serif;
}


#datos{
	width: 50%;
	float: left;
}
#datos ul{
	list-style: none;
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
}
#datos ul li{
	padding: 2%;
}
#pie{
	clear: left;
	margin-top: 40%;
	padding: 2%;
	background-color: #181818;
	color: white;
}
#pie h3{
	font-family: "Roboto", sans-serif;
}
#pie h4{
	font-family: "Roboto", sans-serif;
}
#pie p{
	text-align: center;
	font-family: "Roboto", sans-serif;
}
footer i{
	float: right;
	color: white;
	transition: 0.5s;
	cursor: pointer;
	font-size: 4em;
}
footer i:hover{
	color: #3677e0;
}